*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F172A;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    color: azure;
}

#nav-bg {
    background-color: #0F172A;
}

.hd-txt {
    padding: 140px 10px 100px 150px;
}

#hd-man {
    height: 85vh;
}

.progress-bar {
    background-color: #0DC5EE;
}

.custom-shape-divider-bottom-1670507124 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670507124 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1670507124 .shape-fill {
    fill: #272d3c;
}



.scl-txt{
    width: 100%;
    padding: 5px 0;
    background-color: #0DC5EE;
}

marquee {
    font-size: 26px;
    color: #0F172A;
    text-transform: uppercase;
    word-spacing: 10px;
}

.cta-bg {
    background-image: linear-gradient(90deg, #0DC5EE 0%, #7EFDC0 100%);
}

.bg-btn {
    background-image: linear-gradient(90deg, #0DC5EE 0%, #7EFDC0 100%);
    color: #0F172A;
}

.btn-color {
    background: #0F172A;
    color: azure;
    border: 0;
}

.btn-color:hover {
    background-image: linear-gradient(90deg, #0DC5EE 0%, #7EFDC0 100%);
    color: #0F172A;
    border: solid 1px #0F172A;
}

.social a{
    color: azure;
}

.social i{
    font-size: 25px;
    margin: 0 10px;
}

.social i:hover {
    color: #0DC5EE;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    margin-bottom: 5px;
    background-color: #0f172a41;
    color: azure;
    border: solid 1px #0F172A;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control textarea {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

/* error and success*/
.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e00000;
}

.form-control.success i.fa-circle-check {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-circle-exclamation {
    color: #e00000;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #e00000;
}
